body{
	margin: 0;
	background: black;
}
#item_manage{
	width:960px;
	height:580px;
	margin: 0 auto;
	background:#855e2d url('images/bg.png') top left no-repeat;
	padding:20px;
}
#attribute_panel,#item_panel{float:left;height:550px;}
#attribute_panel{
	padding-right:20px;
	width:445px;
	border:15px solid #3d2a21;
	border-right:none;
}
#item_panel{
	width:465px;
	border:15px solid #3d2a21;
	border-left:none;
}
#attribute_panel #avatars{
	margin: 0 auto;
	padding:15px;
	text-align:center;
	clear:both;
}
#attribute_panel #avatars .avatar{display: inline-block; width:75px; height: 75px; margin:22px; border:3px solid #20170f; background:#5b412a;}
#attributes{ margin: 20px; width:auto; height:440px; background:black;}
#wear_left,#wear_preview,#wear_right{float:left;}
#wear_left,#wear_right{width:20%;height:300px;}
#wear_preview{height:250px;width:50%;margin:20px 5%;background:white;}
#wear_left .weapon{width:50px; height:50px; background-color: white; margin: 30px auto auto auto;}
#wear_right .clothes{width:50px; height:50px; background-color: white; margin: 170px auto auto auto;}
#attribute_values{background-color: #FFF;}
#attributes #attribute_panel{clear: both; height:120px; width:100%; background:white; border-radius:5px;}
