/* world of heroes */
html,body, p { padding: 0; margin: 0 }
html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #333;
    font-size: 14px;
    font-family: Microsoft Yahei, Arial, Tohoma;
    color: #ccc;
    line-height: 2;
}
.left{float: left;}
.right{float: right;}

.barlittle {
	background-color:#2187e7;  
	background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff); 
	background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff);
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	width:10px;
	height:10px;
	float:left;
	margin-left:5px;
        opacity:0.1;
	-moz-transform:scale(0.7);
	-webkit-transform:scale(0.7);
	-moz-animation:move 1s infinite linear;
	-webkit-animation:move 1s infinite linear;
}
#block_1{
 	-moz-animation-delay: .4s;
	-webkit-animation-delay: .4s;
 }
#block_2{
 	-moz-animation-delay: .3s;
	-webkit-animation-delay: .3s;
}
#block_3{
 	-moz-animation-delay: .2s;
	-webkit-animation-delay: .2s;
}
#block_4{
 	-moz-animation-delay: .3s;
	-webkit-animation-delay: .3s;
}
#block_5{
 	-moz-animation-delay: .4s;
	-webkit-animation-delay: .4s;
}
@-moz-keyframes move{
	0%{-moz-transform: scale(1.2);opacity:1;}
	100%{-moz-transform: scale(0.7);opacity:0.1;}
}
@-webkit-keyframes move{
	0%{-webkit-transform: scale(1.2);opacity:1;}
	100%{-webkit-transform: scale(0.7);opacity:0.1;}
}

.doc {
    width: 960px;
    margin: 0 auto;
}
.css-loading {
    position: absolute;
    width: 90px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -10px;
}
.stage-container {
    position: absolute;
    width: 960px;
    height: 640px;
    left: 50%;
    top: 50%;
    margin-left: -480px;
    margin-top: -320px;
    display: none;
}

.caption-con {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    font-weight: 500;
}
.caption-con p {
    opacity: 0;
}

#dialogue {
    background: #ccc;
    color: #333;
}