.sub-win{
	width:960px;
	height:640px;
	position:absolute;
	z-index: 2;
	background:url(../resources/images/map/win_bg.jpg) no-repeat;
	display:none;
}
.sub-win button.close{
	position:absolute;
	top:20px;
	right:20px;
	background:url(../resources/images/map/cross.png) no-repeat center;
	background-size: 80px 80px;
	width:94px;
	height:94px;
	border:0;
	-webkit-transition: -webkit-transform .3s ease-in;
    -moz-transition:    -moz-transform .3s ease-in;
    -o-transition:      -o-transform .3s ease-in;
    transition:         transform .3s ease-in;
}
.sub-win button.close:hover{
 -webkit-transform: rotate(180deg) scale(0.8);
    -moz-transform: rotate(180deg) scale(0.8);
    -o-transform: rotate(180deg) scale(0.8);
    -transform: rotate(180deg) scale(0.8);}
.sub-win .standard-stroke{
	border:5px solid rgba(0,0,0,.7);
}

.intro-module{
	width:960px;
	height:640px;
	background:#000 url(../resources/images/index/index.jpg) top center no-repeat;
}
.intro-module .intro-pop{
	width:960px;
	height:640px;
	background:rgba(0,0,0,.7);
	position:absolute;
	display:none;
}
.intro-module .intro-pop .content{
	margin:10px;
	border:3px solid white;
	border-radius:10px;
	padding:10px;
}
.intro-module .intro-pop button.leave{
	margin:0 auto;
	background:white;
}
.intro-module .button{
	width:129px;
	height:129px;
	float:left;
	border-radius:64px;
	margin-right:20px;
	margin-top:470px;
	text-align:center;
	color:black;
	text-shadow:0 0 5px white;
	cursor:pointer;
	font-size:13px;
}
.intro-module .button#btn-1{background:url(../resources/images/index/start-button-1.png) no-repeat;}
.intro-module .button#btn-2{background:url(../resources/images/index/start-button-2.png) no-repeat;}
.intro-module .button#btn-3{background:url(../resources/images/index/start-button-3.png) no-repeat;}
.intro-module .button#btn-4{background:url(../resources/images/index/start-button-4.png) no-repeat;}
.intro-module .button:first-child{margin-left:300px;}
.intro-module .button:hover{
	box-shadow:0 0 20px white;
}
.drama-module .caption-con {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    font-weight: 500;
    font-size: 24px
}
.drama-module .caption-con p {
    opacity: 0;
}
.map-module{
	width:960px;
	height:640px;
	background: url(../resources/images/map/map.jpg) no-repeat;
}
.map-module .button{
width:180px;
height:200px;
margin:0 10px;
float:right;
cursor:pointer;
margin-top:420px;}
#map-leave{background: url(../resources/images/map/button3.png) center no-repeat}
#map-skill{background: url(../resources/images/map/button2.png) center no-repeat}
#map-person{background: url(../resources/images/map/button1.png) center no-repeat}

.map-module .sub-win .ava-bar{width:85%;list-style: none; margin: 0 auto; padding: 0;}
.map-module .sub-win .ava-bar .avar{width:105px; height:105px; display: inline-block; opacity: .3; margin:3px;}
.map-module .sub-win .ava-bar .avar.active{opacity:1}
.map-module .sub-win h1#name{color:black; font-size:24px; font-weight:bold; text-align:center; margin:0;}
.map-module .sub-win .left-block,.sub-win .right-block{height:640px;float:left;}
.map-module .sub-win .left-block{width: 420px; margin:20px 30px}
.map-module .sub-win .right-block{width:440px;margin-left:10px}
.map-module .sub-win .left-block #clothes,.sub-win .left-block #weapon{background:url(../resources/images/map/selected_bg.png) center;rgba(0,0,0,.7);width:77px;height:77px; margin-top: 105px; border-top: 20px; border-bottom: 20px; border-left: 4px; border-right:4px;  border-image: url(../resources/images/map/selected_bg.png) 20 4 20 4 repeat}
.sub-win .left-block #weapon{float:left}
.map-module .sub-win .left-block #clothes{float:right}
.map-module .sub-win .left-block #preview{float:left;width:230px;height:230px;margin-left:15px;}
.map-module .sub-win .right-block .description{height: 100px; margin-left: 18px}
.map-module .sub-win .right-block .items{height:300px;margin-top: 140px;margin-left: 7px}
.map-module .sub-win .right-block ul.items{width:100%; list-style: none; padding: 0; margin: 140px 0 0 10px}
.map-module .sub-win .right-block ul.items li{display:block;float:left;width:77px;height:77px;border:3px solid #000;margin:1px;background:rgba(0,0,0,.7);padding:0}
.map-module .sub-win .right-block ul.items li img{margin: 0; padding: 0}
.map-module .sub-win#role-manage ul.role-attributes{width:80%;list-style: none; clear:both;margin:0 auto;font-weight:bold}
.map-module .sub-win#role-manage ul.role-attributes li{display: inline-block; width: 40% ;padding:0 10px;}
.map-module .sub-win#role-manage ul.role-attributes li span{}
.map-module .sub-win#role-manage .exp-bar{height: 26px; width: 250px;margin:10px auto;
	background: url(../resources/images/map/exp-right.png) right bottom no-repeat;
}
.map-module .sub-win#role-manage .exp-bar-inner{height: 26px;background: rgba(0,0,0,.7); width: 220px}
.map-module .sub-win#role-manage .exp-value{height: 26px; background: white;}
.cg-module,.drama-module{
	width:960px;
	height:640px;
	background:#000;
}
.cg-module .button,.drama-module .button{
	padding:16px;
	width:100px;
	text-align:center;
	background:red;
	color:white;
	float:right;
	margin-top:520px;
	cursor: pointer
}
.dialogue-module{
	width:960px;
	height:640px; 
}
.dialogue-module .chat-wrap{
	width:960px;
	height:640px; 
}
.dialogue-module .chat{
	z-index:2;
	position:absolute;
	bottom:0;
	width:100%;
	height:254px;
}
.dialogue-module .chat .avatar{
	width:380px;
	height:510px;
	margin-top:-255px;
}
.dialogue-module .chat .bg{background:url(../resources/images/dialogue/UI-dialog-bg.png) no-repeat;height:254px;position: absolute;bottom:0;width:100%;z-index:-1;}
.dialogue-module .chat .content{color:#fff;font:bold 24px Arial;height:245px;padding:40px;}
.dialogue-module .chat .content h1{padding: 10px; margin:0; font-size:24px;line-height:24px;}


.battle-module{
	width:960px;
	height:640px;
	background:#000;
}
.battle-module .skill-icons{
	position:absolute;
	z-index:2;
	height:100px;
	top:10px;
	left:0;
	padding:10px;
}
.battle-module .skill-icon{float:left; margin-right:10px; background:red; width:100px; height:100px;}







